.section--about {
    background-color: hsl(171, 70%, 37%);
}

.about__link:link {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.about__link:visited {
    color: currentColor;
}

.about__link:focus {
    outline: 3px solid rgb(0, 0, 0);
    text-decoration: underline;
}

.about__link:hover {
    color: brown;
    border-bottom: 1px solid;
    outline: none;
}

.about__link:active {
    color: gray;
}