.banner {
    border: 1px solid black;
    background-color: #191741;
    border-top: 3%;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px -1px #000500;
    padding: 55px;
}


.banner__header{
    text-align: center;
    font-family: Lato, Roboto, sans-serif;
    font-size: 1em;
    padding-bottom: 20px;
    border-collapse: collapse;
}

.banner__image {
    max-height: 100px;
    border-radius: 5%;
    image-rendering: auto;
}

.banner__image:hover {
    border-radius: 5%;
    box-shadow: 0px 0px 5px -1px #f1f4f1;
}

.navigation {
    list-style-position: inside;
}

.navigation__List{
    text-align: center;
}

.navigation__listItem {
    display: inline;
    padding: 0px 20px;
    width: 100%;
}

.navigation__link:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.navigation__link:visited {
    color: currentColor;
}

.navigation__link:focus {
    outline: 3px solid rgb(0, 0, 0);
    text-decoration: underline;
}

.navigation__link:hover {
    color: brown;
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: gray;
}