.section--contact  {
    background-color: #8f8dba;
    margin-bottom: 10px;
}

.contact__img {
    max-width: 2rem;
    display: inline;
    padding: 10px 43px;
}

.contact__link:link {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-weight: 700;
}

.contact__link:visited {
    color: currentColor;
}

.contact__link:focus {
    outline: 3px solid rgb(0, 0, 0);
    text-decoration: underline;
}

.contact__link:hover {
    color: brown;
    border-bottom: 1px solid;
    outline: none;
}

.contact__link:active {
    color: gray;
}