html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    max-width: 1000px;
    color: white;
    background-color: rgba(241, 233, 233, 0.966);
    border-radius: 5%;
    font-family: Lato, sans-serif;
    font-size: 125.5%;
    font-stretch: 100%;
    line-height: 1.6;
    text-align: left;
}

/* js Styles */
.nightMode {
    background-color: rgb(61, 53, 53);
    color: hsl(156, 67%, 80%);
}

.nightMode {
    background-color: rgb(61, 53, 53);
    color: hsl(156, 67%, 80%);
}

.nightModeEducation{
    background-color:rgb(117, 141, 131) ;
    color:rgb(47, 40, 40) ;
}